@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Gotham, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #646464;
  background-color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*HEADER*/

.main-header {
  position: absolute;
  padding: 45px 0;
  left: 0;
  top: 0;
  right: 0;
}

.main-header-row {
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.header-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.header-list-item {
  padding-left: 25px;
}

.header-list a {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -.25px;
  display: block;
  padding: 0 5px;
  border-bottom: 4px solid rgba(0,0,0,0);
  color: #fff;
  text-transform: uppercase;
}

.header-list a:hover {
  border-bottom: 4px solid #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-list .active {
  border-bottom: 4px solid #ffffff;
}

.header-fixed {
  position: fixed;
  width: 100%;
  padding: 15px 0px;
  background: #000;
  box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
}
/* BANNER*/
.banner {
  padding-top: 205px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner-columns {
  display: flex;
  justify-content: space-between;
}

.banner-description {
  width: 50%;
}

.banner-description h1 {
  margin: 40px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 56px;
  font-weight: 700;
  font-size: 52px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.banner-description p {
  margin: 40px 0;
  font-family: 'helvetica_neueregular';
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #fff;
}

.banner-btn {
  display: inline-block;
  vertical-align: baseline;
  padding: 20px 34px;
  background: #282828;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: -0.25px;
}

.banner-btn:hover {
    background: #fff;
    color: #232323;
    transition: all 0.5s;
  }

.banner-btn i {
  position: relative;
  top: 12px;
  margin-right: 10px;
  line-height: 10px;
}

/* FEATURES*/
.features {
  padding: 85px 0;
  text-align: center;
}
.features-heading {
  margin: 0;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  line-height: 43px;
  color: #8a8a8a;
  text-transform: uppercase;
}
.features-text {
  margin: 0;
  font-size: 22px;
  color: #3a3a3a;
  padding: 40px 105px 50px;
  line-height: 32px;
}
.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.features-list-item {
  padding-left: 15px;
  padding-right: 15px;
}
.features-list-heading {
  margin: 35px 0;
  color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.features-list-text {
  margin: 0;
  font-weight: 300;
}
/*DOWNLOAD*/
.download {
  padding: 180px 0;
  background-color: #dee4e2;
  background-image: url(../img/download.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.download-heading {
  width: 730px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
}
.red-text {
  color: #f55150;
}

.download-text {
  margin: 40px 0 50px;
  font-family: 'helvetica_neueregular';
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #585858;
}
.download-btn {
  margin-left: 20px;
  padding: 0 17px;
  display: inline-block;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 49px;
  background: #d9332d;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
}
.download-btn:hover {
  background: #000;
  transition: all 0.5s;
}